 h1{
     text-align: center;
     background-color: cyan;
     color: brown;
     padding: 1% 4% 1% 4%;
 }

 .gr{
    display: inline-block;
    margin-top: 3em;
    margin-bottom: 3em ;
    /* padding: 5px 4px 3px 0px; */
    background-color: white;
  }
  
  .hor{
    margin: 2% 0% 2% 0%;
    padding: 0% 10% 0% 10%;
    background-color: palevioletred;

  }
  .ver{
    margin: 2% 2% 2% 2%;
    /* padding: 3em 5em 3em 5em; */
  }

  body{
    background-color: black;
  }
  .bes{
    display: flex;
    background-color: teal;
  }